<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Prompt</key>
	<string>Welcome to the real world</string>
	<key>Choice 1</key>
	<dict>
		<key>Prompt</key>
		<string>You chose Choice 1</string>
		<key>Choice 1</key>
		<dict>
			<key>Prompt</key>
			<string></string>
			<key>Choice 1</key>
			<dict>
				<key>End</key>
				<string>The End</string>
			</dict>
			<key>Choice 2</key>
			<dict>
				<key>End</key>
				<string>The End</string>
			</dict>
		</dict>
		<key>Choice 2</key>
		<dict>
			<key>Prompt</key>
			<string></string>
			<key>Choice 1</key>
			<dict>
				<key>End</key>
				<string>The End</string>
			</dict>
			<key>Choice 2</key>
			<dict>
				<key>End</key>
				<string>The End</string>
			</dict>
		</dict>
	</dict>
	<key>Choice 2</key>
	<dict>
		<key>Prompt</key>
		<string>You chose Choice 2</string>
		<key>Choice 1</key>
		<dict>
			<key>Prompt</key>
			<string></string>
			<key>Choice 1</key>
			<dict>
				<key>End</key>
				<string>The End</string>
			</dict>
			<key>Choice 2</key>
			<dict>
				<key>End</key>
				<string>The End</string>
			</dict>
		</dict>
		<key>Choice 2</key>
		<dict>
			<key>Prompt</key>
			<string></string>
			<key>Choice 1</key>
			<dict>
				<key>End</key>
				<string>The End</string>
			</dict>
			<key>Choice 2</key>
			<dict>
				<key>End</key>
				<string>The End</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
